.emailbody {
  display: grid;
  grid-template-columns: 25% auto 10%;
  border-bottom: 1px solid whitesmoke;
  height: 35px;
  align-items: center;
}

.emailbody .emailbody__left {
  display: flex;
  align-items: center;
}

.emailbody .emailbody__left svg {
  color: gray;
  font-size: 18px;
}

.emailbody .emailbody__left h5 {
  padding-left: 10px;
}

.emailbody .emailbody__middle p {
  font-size: 14px;
}

.emailbody .emailbody__right p {
  font-size: 12px;
}

.emailbody:hover {
  box-shadow: 2px 2px 4px whitesmoke;
  cursor: pointer;
}
